<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<h1>first  template demo</h1>
{{ template "ur.tmpl" }}
<hr>
{{ template "test.tmpl"}}

<hr>
{{/*{{ template "test.tmpl" }}*/}}
<hr>
<p> {{  . }}</p>
</body>
</html>

{{ define "test.tmpl" }}
<ol>
    <li>sleep</li>
    <li>sleep</li>
</ol>
{{ end }}